$Main-First :   #7EACB5;
$Main-Second:   #FFF4EA;
$Main-Third :   #FADFA1;
$Main-Fourth:   #C96868;

$Secondary-First : #181C14;
$Secondary-Second: #3C3D37;
$Secondary-Third : #697565;
$Secondary-Fourth: #ECDFCC;

$Dark        : #393646;
$Dark-Grey   : #4F4557;
$Opaque-Grey : #6D5D6E;
$Opaque      : #F4EEE0;